<div class='page page-build-task'>
<h3>任务的分解和计划</h3> 

<div class= 'head row'>
  <div class="headbtns col-md-4">
    <button  class="btn btn-primary">新建</button>
    <button  class="btn btn-primary">导入</button>
    <button  class="btn btn-primary">删除</button>
  </div>

  <div class= "headbar col-md-8">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">任务属性</a></li>
      <li role="presentation"><a href="#">任务资源</a></li>
      <li role="presentation"><a href="#">更新目录</a></li>
    </ul>
  </div>

</div>


<ul id="browser" class="filetree treeview-famfamfam col-md-3">
    <li><i class='glyphicon '></i><span class="folder ">app商城项目</span>
      <ul>
        <li><i class='glyphicon '></i><span class="folder">任务1(后台商品管理)</span>
          <ul>
            <li><i class='glyphicon '></i><span class="file">1-1增删改查商品</span></li>
            <li><i class='glyphicon '></i><span class="file">1-2商品数据导入</span></li>
          </ul>
        </li>
        <li><i class='glyphicon '></i><span class="folder">任务2 商品购买</span>
          <ul>
            <li><i class='glyphicon '></i><span class="folder">2.1购物车制作</span>
              <ul>
                <li><i class='glyphicon '></i><span class="file">购物车页面样式</span></li>
                <li><i class='glyphicon '></i><span class="file">购物车数据库处理</span></li>
              </ul>
            </li>
            <li><i class='glyphicon '></i><span class="folder">2.2订单系统</span>
              <ul>
                <li><i class='glyphicon '></i><span class="file">订单后台处理</span></li>
                <li><i class='glyphicon '></i><span class="file">页面前端样式</span></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><i class='glyphicon '></i><span class="file">任务3移动端开发</span></li>
      </ul>
    </li>
</ul>


<div class='details-page col-md-9'>
  <div class='page1'>
  <div>
    <i class = 'glyphicon glyphicon-tags'> 基本信息</i>
  </div>
  <div class='form '>
    <div class='line'>

      <div class="form-group line-div-half">
      <label for="exampleInputPassword1" class='line-div-half-item1'>任务编码</label>
      <input type="" class="form-control line-div-half-item2" id="exampleInputPassword1" >
      </div>

      <div class="form-group line-div-half">
      <label for="exampleInputPassword1" class='line-div-half-item1'>任务编号</label>
      <input type="" class="form-control line-div-half-item2" id="exampleInputPassword1" >
      </div>

    </div> 

    <div class='line'>
      <div class="form-group">
      <label for="exampleInputPassword1" class='line-div-half-item1'>任务名称</label>
      <input type="" class="form-control line-div-half-item2" id="exampleInputPassword1" >
      </div>
    </div>

    <div class='line'>

      <div class="form-group line-div-half">
      <label for="exampleInputPassword1" class='line-div-half-item1'>负责人</label>
      <i class='glyphicon glyphicon-eye-open' style="z-index:2; position:relative;left:5px;"></i>
      <input type="" style="padding-left: 30px ; position:relative;left:-20px;"class="form-control line-div-half-item2" id="exampleInputPassword1" calue="赵小白(部门经理)">
      </div>

      <div class="form-group line-div-half">
      <label for="exampleInputPassword1" class='line-div-half-item1'>部门</label>
      <i class='glyphicon glyphicon-home' style="z-index:2; position:relative;left:5px;"></i>
      <input type="" style="padding-left: 30px ; position:relative;left:-20px;" class="form-control line-div-half-item2" id="exampleInputPassword1" >
      </div>

    </div> 

    <div class='line'>

      <div class="form-group line-div-half">
      <label for="exampleInputPassword1" class='line-div-half-item1'>进度</label>
      <input type="" class="form-control line-div-half-item2" id="exampleInputPassword1" >%
      </div>

      <div class="form-group line-div-half">
      <label for="exampleInputPassword1" class='line-div-half-item1'>权重</label>
      <input type="" class="form-control line-div-half-item2" id="exampleInputPassword1" >%
      </div>

    </div> 

    <div class='line'>

      <div class="form-group line-div-half">
      <label for="exampleInputPassword1" class='line-div-half-item1'>任务状态</label>
      <input type="" class="form-control line-div-half-item2" id="exampleInputPassword1" >
      </div>

      <div class="form-group line-div-half">
      <label for="exampleInputPassword1" class='line-div-half-item1'>任务类型</label>
      <input type="" class="form-control line-div-half-item2" id="exampleInputPassword1" >
      </div>

    </div> 

    <div class='bigline'>
      <div class="form-group">
      <label for="exampleInputPassword1 "class='line-div-half-item1'>交付物描述</label>
      <textarea class="form-control line-div-half-item2" rows="2"></textarea>
      </div>
    </div>
    <div class='bigline'>
      <div class="form-group">
      <label for="exampleInputPassword1 "class='line-div-half-item1'>任务描述</label>
      <textarea class="form-control line-div-half-item2" rows="2"></textarea>
      </div>
    </div>

    <div class='bigline'>
      <div class="form-group">
      <label for="exampleInputPassword1" class='line-div-half-item1'>工作内容描述</label>
      <textarea class="form-control line-div-half-item2" rows="2"></textarea>
      </div>
    </div>

  <div>
    <i class = 'glyphicon glyphicon-tags'> 时间和成本</i>
  </div>

    <div class='line'>

      <div class="form-group line-div-half">
      <label for="exampleInputPassword1" class='line-div-half-item1'>计划开始日期</label>
      <i class='glyphicon glyphicon-calendar' style="z-index:2; position:relative;left:5px;"></i>
      <input type="" style="padding-left: 30px ; position:relative;left:-20px;"class="form-control line-div-half-item2 calendar add-on input-append date form_datetime"  >
      </div>

      <div class="form-group line-div-half">
      <label for="exampleInputPassword1" class='line-div-half-item1'>计划完成日期</label>
      <i class='glyphicon glyphicon-calendar' style="z-index:2; position:relative;left:5px;"></i>
      <input type="" style="padding-left: 30px ; position:relative;left:-20px;" class="form-control line-div-half-item2 calendar add-on input-append date form_datetime"  >
      </div>

    </div> 


    <div class='line'>

      <div class="form-group line-div-half">
      <label for="exampleInputPassword1" class='line-div-half-item1'>实际开始日期</label>
      <i class='glyphicon glyphicon-calendar' style="z-index:2; position:relative;left:5px;"></i>
      <input type="" style="padding-left: 30px ; position:relative;left:-20px;"class="form-control line-div-half-item2 calendar add-on input-append date form_datetime "  >
      </div>

      <div class="form-group line-div-half">
      <label for="exampleInputPassword1" class='line-div-half-item1'>实际完成日期</label>
      <i class='glyphicon glyphicon-calendar' style="z-index:2; position:relative;left:5px;"></i>
      <input type="" style="padding-left: 30px ; position:relative;left:-20px;" class="form-control line-div-half-item2 calendar add-on input-append date form_datetime "  >
      </div>

    </div> 

     <div class='line'>

      <div class="form-group line-div-half">
      <label for="exampleInputPassword1" class='line-div-half-item1'>预估工时</label>
      <input type="" class="form-control line-div-half-item2" id="exampleInputPassword1" >小时
      </div>

      <div class="form-group line-div-half">
      <label for="exampleInputPassword1" class='line-div-half-item1'>实际工时</label>
      <input type="" class="form-control line-div-half-item2" id="exampleInputPassword1" >小时
      </div>

    </div> 

    <div class='line' style="margin-top:30px">
    <button  class="btn btn-primary">更新</button>
    </div>
  </div>  

</div>  
</div>
</div>
