<div class='page page-distribution'>
<h3>任务快速分派</h3>

<div class= 'head'>
  <div class="headbtns col-md-5">
   <i class='glyphicon glyphicon-tasks'><span style='font-size:20px;'>任务列表</span></i>

    <button  class="btn btn-primary">展开全部</button>
  </div>

  <div class= "headbar col-md-5">
    <i class='glyphicon glyphicon glyphicon-paperclip'> <span style='font-size:20px;'>人员分派</span></i>
    <button  class="btn btn-primary">添加</button>
    <button  class="btn btn-primary">移除全部</button>
  </div>

</div>

<div class = 'bottom'>
  <ul id="browser" class="filetree treeview-famfamfam col-md-5">
      <li><span class="folder">app商城项目</span>
        <ul>
          <li><input type="checkbox" class='check-item'><span class="folder">任务1(后台商品管理)</span>
            <ul>
              <li><input type="checkbox" class='check-item'><span class="file">1-1增删改查商品</span></li>
              <li><input type="checkbox" class='check-item'><span class="file">1-2商品数据导入</span></li>
            </ul>
          </li>
          <li><input type="checkbox" class='check-item'><span class="folder">任务2 商品购买</span>
            <ul>
              <li><input type="checkbox" class='check-item'><span class="folder">2.1购物车制作</span>
                <ul>
                  <li><input type="checkbox" class='check-item'><span class="file">购物车页面样式</span></li>
                  <li><input type="checkbox" class='check-item'><span class="file">购物车数据库处理</span></li>
                </ul>
              </li>
              <li><input type="checkbox" class='check-item'><span class="folder">2.2订单系统</span>
                <ul>
                  <li><input type="checkbox" class='check-item'><span class="file">订单后台处理</span></li>
                  <li><input type="checkbox" class='check-item'><span class="file">页面前端样式</span></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><input type="checkbox" class='check-item'><span class="file">任务3移动端开发</span></li>
        </ul>
      </li>
  </ul>

  <div class='details-page col-md-5'>
  </div>
</div>

</div> 
