.event-staff-form-report
  .top-area
  .evt-staff-nav
    %label{style: "margin-right: 20px;font-size: 18px;"} 
      %i.glyphicon.glyphicon-list-alt
      报表服务 - 项目报表 - PJ03. 项目员工类型工时矩阵表
    %a.btn.btn-primary{href: "/test/report_form_list"} 返回
  .evt-staff-body
    %table.table.table-bordered
      %caption{style: "padding-bottom: 10px;text-align: center;font-size: 24px;"} 项目员工类型工时矩阵表
      %caption 
        %span.report-caption 报表编号
        %span PJ03_RESTYPETAB
      %caption 
        %span.report-caption 日期范围
        %span 2017-02-01 - 2017-02-28
      %thead
        %tr{style: "background-color: #5ECAF2;"}
          %th{rowspan: "2"} 员工类型
          %th{rowspan: "2"} 员工登录名
          %th{rowspan: "2"} 员工姓名
          %th{rowspan: "2"} 员工编号
          %th 0001
          %th 0002
          %th 00123
          %th 1001
          %th 5678
          %th 6789
          %th 8901
          %th 999
          %th 99999999
          %th A001
          %th BT01
          %th GX_NN_01_1505_0003
          %th P20170001
          %th{rowspan: "2"} 总计
        %tr{style: "background-color: #5ECAF2;"}
          %th 公司内部事务 Admin
          %th 公司休假 Leave
          %th 测试项目-mindpin
          %th 测试项目01
          %th bb5678
          %th aa6789
          %th 8901
          %th 999
          %th 苹果西瓜梨子
          %th 苹果
          %th LD电子政务项目
          %th GX_NN_01_1505_0003
          %th 空调设计
      %tbody
        %tr
          %td{rowspan: "2"} 普通行政人员
          %td staff01
          %td 普通员工(设计)
          %td 1staff01
          %td 2
          %td 12
          %td 21
          %td 120
          %td 2
          %td 2
          %td 2
          %td 10
          %td 4
          %td 2
          %td 9
          %td 2
          %td 50
          %td 238
        %tr{style: "background-color: #F3F3F3;"}
          %th{colspan: "3", style:"text-align: right;"} 按员工类型汇总
          %th 2
          %th 12
          %th 21
          %th 120
          %th 2
          %th 2
          %th 2
          %th 10
          %th 4
          %th 2
          %th 9
          %th 2
          %th 50
          %th 238
        %tr{style: "background-color: #FEAD4E;"}
          %th{colspan: "4", style:"text-align: right;"} 总计
          %th 2.00
          %th 12.00
          %th 21.00
          %th 120.00
          %th 2.00
          %th 2.00
          %th 2.00
          %th 10.00
          %th 4.00
          %th 2.00
          %th 9.00
          %th 2.00
          %th 50.00
          %th 238.00
  .bottom-area