.left-bar{
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 200px;
    background-color: #99CCFF;
    font-size: 16px;
    padding-bottom: 10px;
}

.title-1{
  font-size: 18px;
}