@mixin target_a_style{
  a{
    color: white;
  }
  a:link{
    text-decoration: none;
  }
  a:hover{
    color: #00C1DE;
  }
}
@mixin bar_to_bar_distance{
  margin-top: 20px;
  .title-1{
    background-color: #42485B;
    font-weight: bold;
    font-size: 20px;
  }
}


.left-bar{
  font-family: Microsoft YaHei;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 200px;
  background-color: #333744;
  font-size: 16px;
  padding-bottom: 10px;
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  .work_time{
    @include target_a_style;
    @include bar_to_bar_distance;
  }
  .examine{
    @include bar_to_bar_distance;
    @include target_a_style;
  }
  .projects_tasks{
    @include bar_to_bar_distance;
    @include target_a_style;
  }
  .prijects{
    @include bar_to_bar_distance;
    @include target_a_style;
  }
  .tables{
    @include target_a_style;
    @include bar_to_bar_distance;
  }
  .manage_project{
    @include target_a_style;
    @include bar_to_bar_distance;
  }
}
