.page-distribution{

    .head{
      display: inline-block;
      // border:3px solid red;
      width:1300px;

    .headbtns{
      // width:650px;
      height:40px;
    }
    .headbar{
      // width:650px;
    }
  }

  .bottom{
    height: 100%
  }

  .details-page{
    height: 87%;
    border:3px solid black;
  }
  
}