.selected{
  border:3px solid #99CCFF;
}
#browser{
  display: inline-block;
  float: left;
  border: 1px solid #d8d8d8;
  height: 87%;
}

  li{
    list-style-type:none;
    /*margin-left:-5px;*/
  }