@mixin box_bgcolor_and_distance{
  background-color: white;
  margin: 10px;
  padding: 10px;
}

@mixin total_style{
  background-color: #EAEAEA;
  font-family: Microsoft YaHei;
  margin-left: 200px;
  .top-area{
    height: 5px;
    background-color: #EAEAEA;
  }
  .bottom-area{
    height: 5px;
    background-color: #EAEAEA;
  }
}

.working-hours-submit-page{
  @include total_style;
  .first-block{
    @include box_bgcolor_and_distance;
  }
  .second-block{
    @include box_bgcolor_and_distance;
  }
  .third-block{
    @include box_bgcolor_and_distance;
    .top-buttons{
      margin-bottom: 10px;
    }
    .three-col{
      text-align: right;
    }
    .total{
      text-align: right;
    }
  }
}

.zjb{
  text-align: right;
}

.working-hours-for-staff{
  @include total_style;
  .working-hours-title{
    @include box_bgcolor_and_distance;
  }
  .working-hours-search-box{
    @include box_bgcolor_and_distance;
    .query{
      margin-top: 10px;
      margin-left: 200px;
    }
  }
  .working-hours-body{
    @include box_bgcolor_and_distance;
  }
  .bottom-buttons{
    margin-top: 20px;
  }
}

.working-hours-approval-history{
  @include total_style;
  .working-hours-approval-history-title{
    @include box_bgcolor_and_distance;
  }
  .working-hours-approval-history-box{
    @include box_bgcolor_and_distance;
    .select{
      margin-top: 20px;
      margin-left: 200px;
    }
  }
  .working-hours-approval-history-body{
    @include box_bgcolor_and_distance;
  }
}


.working-times-exmaine{
  @include total_style;
  .working-times-exmaine-title{
    @include box_bgcolor_and_distance;
  }
  .working-times-exmaine-search-box{
    @include box_bgcolor_and_distance;
    .search-for-condition{
      margin-top: 10px;
      .line-two{
        margin-top: 20px;
      }
    }
  }
  .working-times-exmaine-body{
    @include box_bgcolor_and_distance;
    .event-name{
      a{
        color: #00C1DE;
      }
      a:link{
        text-decoration: none;
      }
      a:hover{
        color: #FEAD4E;
      }
    }
  }
}