<div class='left-bar'>

	<div class="prijects">
		<div class="title-1"><p>项目</p></div>
		<div>
			<div class= "title-has-child title-close">
	  		<i class="glyphicon glyphicon-menu-right"></i>
	  		项目
	  	</div>
		  <ul style="display:none">
			  <li class="news">
			  	<a href="/test/new">创建项目</a>
			  </li>
			  <li class="news">
			  	<a href="/test">项目列表</a>
			  </li>
			  <li class="news">
			  	<a href="javascript:;">项目视图</a>
			  </li>
		  </ul>
		</div>
	</div>

	<div class="projects_tasks">
		<div class="title-1"><p>任务</p></div>
	  <div>
	  	<div class= "title-has-child title-close">
	  		<i class="glyphicon glyphicon-menu-right"></i>
	  		我的项目
	  	</div>
		  <ul style="display:none">
			  <li class="news">
			  	<a href="javascript:;">我参与的项目</a>
			  </li>
			  <li class="news">
			  	<a href="javascript:;">我负责的项目</a>
			  </li>
		  </ul>
	  </div>

	  <div>
	  	<div class= "title-has-child title-close">
	  		<i class="glyphicon glyphicon-menu-right"></i>
	  		我的任务
	  	</div>
		  <ul style="display:none">
			  <li class="news">
			  	<a href="javascript:;">我参与的任务</a>
			  </li>
			  <li class="news">
			  	<a href="javascript:;">我负责的任务</a>
			  </li>
			  <li class="news">
			  	<a href="javascript:;">我管理的任务</a>
			  </li>
		  </ul>
	  </div>
	</div>

	<div class="work_time">
		<div class="title-1"><p>工时表</p></div>
		<div>
			<div class= "title-has-child title-close">
	  		<i class="glyphicon glyphicon-menu-right"></i>
	  		工时操作
	  	</div>
		  <ul style="display:none">
			  <li class="news">
			  	<a href="/test/working_hours_submit">工时填报</a>
			  </li>
			  <li class="news">
			  	<a href="/test/working_hours_approval">工时查询</a>
			  </li>
		  </ul>
		</div>
	</div>

	<div class="examine">
		<div class="title-1"><p>审核</p></div>
		<div>
			<div class= "title-has-child title-close">
	  		<i class="glyphicon glyphicon-menu-right"></i>
	  		员工业务审核
	  	</div>
		  <ul style="display:none">
			  <li class="news">
			  	<a href="javascript:;">工时审核</a>
			  </li>
		  </ul>
		</div>
	</div>

	<div class="tables">
		<div class="title-1"><span>报表</span></div>
		<div>
			<div class= "title-has-child title-close">
	  		<i class="glyphicon glyphicon-menu-right"></i>
	  		统计报表
	  	</div>
		  <ul style="display:none">
			  <li class="news">
			  	<a href="/test/report_form_list">部门报表</a>
			  </li>
			  <li class="news">
			  	<a href="/test/report_form_list">成本报表</a>
			  </li>
			  <li class="news">
			  	<a href="/test/report_form_list">员工工时报表</a>
			  </li>
		  </ul>
		</div>
	</div>

  <% if 1>0 %>
		<div class="manage_project">
			<div class="title-1"><p>管理此项目</p></div>
			<div>
				<div class= "title-has-child title-open">
		  		<i class="glyphicon glyphicon-menu-down"></i>
		  		任务计划
		  	</div>
			  <ul>
				  <li class="news">
				  	<a href="/tasks/build_task">任务分解与计划</a>
				  </li>
				  <li class="news">
				  	<a href="/tasks/distribution">任务快速分派</a>
				  </li>
			  </ul>
			</div>
		</div>
	<%end%>


</div>